redis:
  REDIS_HOST: redis-release-master
  REDIS_PORT: 6379

replicaCount: 2

image:
  name: kenechukwujosiah/nodejs-k8s-report
  tag: latest

mapconfig:
  namespace: default

service:
  name: report-service
  type: LoadBalancer
  internalPort: 4000
  externalPort: 4000

resources:
  limits:
    cpu: "500m"
    memory: "128Mi"
  requests:
    cpu: "250m"
    memory: "64Mi"