# Ignore all ignoreable files
*.iml
*.ipynb
*.py[co]
__pycache__
.DS_Store
.env
.env.local
.env.prod.local
.env.test.local
.env.development.local
.env.production.local
.env.staging.local
.tox
.nox
.coverage
.cache
nosetests.xml
coverage.xml
*.egg
.local
.dbshell
.pytest_cache
migrations
instance
develop-eggs
dist
downloads
eggs
.eggs
lib
lib64
parts
sdist
var
*.egg-info
*.egg-info/PKG-INFO
*.egg-info/SOURCES.txt
*.egg-info/dependency_links.txt
*.egg-info/not-zip-safe
*.egg-info/scripts
*.egg-info/top_level.txt
local_settings.py
db.sqlite3
db.sqlite3-journal
instance
.mypy_cache
.pytest_cache
*/node_modules
/apps/report-service/node_modules
/apps/user-service/node_modules